<div>
    <template v-if="discovery">
        <div class="grid">
            <div class="grid__col l-one-half">
                <div class="panel">
                    <h2 class="subtitle">
                        <i class="fa fa-align-left"></i> Listing
                    </h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 120px;">ID</th>
                                <td>{{ discovery.id }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    <template v-if="statusWriteable()" v-if="auth.can('discoveries.update')">
                                        <status-badge :states="writeableStatuses" :colors="discoveryStatusColors" :code="discovery.status" :inline="true" type="discoveries" :id="discovery.id"></status-badge>
                                    </template>
                                    <template v-else>
                                        <status-badge :states="discoveryStatuses" :colors="discoveryStatusColors" :code="discovery.status"></status-badge>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <th>Listing title</th>
                                <td>{{ discovery.title }}</td>
                            </tr>
                            <tr>
                                <th>Item Number</th>
                                <td>{{ discovery.sku }}</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{ discovery.category }}</td>
                            </tr>
                            <tr>
                                <th>Keyword</th>
                                <td>{{ discovery.keyword }}</td>
                            </tr>
                            <tr>
                                <th>Platform</th>
                                <td><platform-ident :platform="discovery.platform"></platform-ident></td>
                            </tr>
                            <tr>
                                <th>Origin</th>
                                <td v-if="discovery.origin">{{ discovery.origin }}</td>
                                <td v-else><span class="muted">None recorded</span></td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td v-if="discovery.price">{{ discovery.price }}</td>
                                <td v-else><span class="muted">None recorded</span></td>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <td><a v-bind:href="discovery.url" target="_blank">{{ discovery.url }}</a></td>
                            </tr>
                            <tr>
                                <th>Listing URL</th>
                                <td v-if="discovery.listing_url"><a v-bind:href="discovery.listing_url" target="_blank">{{ discovery.listing_url }}</a></td>
                                <td v-else><span class="muted">None recorded</span></td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td>{{ formatDate(discovery.created_at) }} ({{ fromNow(discovery.created_at) }})</td>
                            </tr>
                            <tr>
                                <th>Updated at</th>
                                <td>{{ formatDate(discovery.updated_at) }} ({{ fromNow(discovery.updated_at) }})</td>
                            </tr>
                            <tr>
                                <th>Last seen at</th>
                                <td>{{ formatDate(discovery.last_seen_at) }} ({{ fromNow(discovery.last_seen_at) }})</td>
                            </tr>
                            <tr>
                                <th>Comment</th>
                                <td v-if="discovery.comment" v-html="discovery.comment.join('<br />')"></td>
                                <td v-else><span class="muted">None recorded</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid__col l-one-half">
                <div class="panel panel--flush">
                    <h2 class="subtitle">
                        <i class="fa fa-user-secret"></i> Seller
                    </h2>
                    <table class="table">
                        <tbody>
                            <template v-if="discovery.seller">
                                <tr>
                                    <th style="width: 100px;">ID</th>
                                    <td>
                                        <router-link :to="{ path: '/browser/sellers/' + discovery.seller.id }">
                                            {{ discovery.seller.id }}
                                        </router-link>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>
                                        {{ discovery.seller.name }}
                                        <a href="#" v-on:click.prevent="filterForSeller()">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td><status-badge :states="sellerStatuses" :colors="sellerStatusColors" :code="discovery.seller.status" type="sellers" :id="discovery.seller.id"></status-badge></td>
                                </tr>
                                <tr>
                                    <th>Last seen at</th>
                                    <td>{{ formatDate(discovery.seller.last_seen_at) }} ({{ fromNow(discovery.seller.last_seen_at) }})</td>
                                </tr>
                                <tr>
                                    <th>Created at</th>
                                    <td>{{ formatDate(discovery.seller.created_at) }} ({{ fromNow(discovery.seller.created_at) }})</td>
                                </tr>
                                <tr>
                                    <th>Updated at</th>
                                    <td>{{ formatDate(discovery.seller.updated_at) }} ({{ fromNow(discovery.seller.updated_at) }})</td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td colspan="2">No seller attached.</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel--flush panel--push">
                    <h2 class="subtitle">
                        <i class="fa fa-tag"></i> Asset
                    </h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 100px;">ID</th>
                                <td>{{ discovery.asset.id }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td><status-badge :states="assetStatuses" :code="discovery.asset.status"></status-badge></td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ discovery.asset.name }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ discovery.asset.description }}</td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td>{{ formatDate(discovery.asset.created_at) }} ({{ fromNow(discovery.asset.created_at) }})</td>
                            </tr>
                            <tr>
                                <th>Updated at</th>
                                <td>{{ formatDate(discovery.asset.updated_at) }} ({{ fromNow(discovery.asset.updated_at) }})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel panel--flush panel--push" v-if="discovery.picture">
                    <h2 class="subtitle">
                        <i class="fa fa-picture-o"></i> Picture
                    </h2>
                    <div class="discovery-image">
                        <img v-bind:src="discovery.picture" />
                    </div>
                </div>

                <div class="panel panel--flush panel--push">
                    <h2 class="subtitle">
                        <i class="fa fa-history"></i> Revisions
                    </h2>
                    <table class="table">
                        <tbody v-if="! discovery.statuses.length">
                            <td><i class="fa fa-ban"></i> We couldn't find any revisions attached to this discovery.</td>
                        </tbody>
                        <tbody v-else>
                            <tr v-for="status in discovery.statuses">
                                <th>{{ formatDate(status.valid_from) }} ({{ fromNow(status.valid_from) }})</th>
                                <td>
                                    <status-badge :states="discoveryStatuses" :colors="discoveryStatusColors" :code="status.status"></status-badge>
                                    &nbsp;&nbsp;&nbsp;{{ status.comment }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="panel panel--flush">
            <div class="loader">
                <i class="fa fa-cog fa-spin"></i><br />
                Fetching discovery...
            </div>
        </div>
    </template>
</div>
