<div>
    <div class="remodal" data-remodal-id="enforcer">
        <button data-remodal-action="cancel" class="remodal-close" v-if="! isEnforcing"></button>

        <h1 class="subtitle"><i class="fa fa-gavel" aria-hidden="true"></i> Enforce Takedowns</h1>

        <div class="alert alert--warning">
            <p>
                <i class="fa fa-exclamation-triangle"></i>
                There are currently <strong>{{ count }} listings</strong> in the "enforce" status. This process will export these listings into a CSV document before marking them as "pending". You should utilise the CSV document to send the listings to the relevant platform.
            </p>
        </div>

        <template v-if="1 == step">
            <a href="#" class="button" v-on:click.prevent="enforce()">
                <i class="fa fa-cog fa-spin" v-if="isEnforcing"></i>
                {{ ctaLabel }}
            </a>
            <span v-if="! isEnforcing">
                &nbsp;&nbsp;<span class="muted">or</span>&nbsp;&nbsp;
                <a href="#" class="button button--secondary" v-on:click.prevent="closeModal()">Cancel</a>
            </span>
        </template>

        <template v-if="2 == step">
            <a :href="exportFile" target="_blank" class="button">
                <i class="fa fa-download" aria-hidden="true"></i>
                Download CSV
            </a>
            &nbsp;&nbsp;<span class="muted">and</span>&nbsp;&nbsp;
            <a href="#" class="button button--secondary" v-on:click.prevent="finish()">Finish</a>
        </template>
    </div>
</div>
