<div>
    <div class="remodal" data-remodal-id="account_attacher">
        <button data-remodal-action="cancel" class="remodal-close"></button>

        <h1 class="subtitle"><i class="fa fa-paperclip"></i> Attach account</h1>

        <template v-if="! accounts.length">
            <div class="loader">
                <i class="fa fa-cog fa-spin"></i><br />
                Setting up...
            </div>
        </template>

        <template v-else>
            <div class="alert alert--error" v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <form class="form" v-on:submit.prevent="attach()" v-if="renderForm">
                <label for="account">Account</label>
                <div class="form__select">
                    <select name="account" v-model="account">
                        <option value=""></option>
                        <option v-for="a in accounts" v-bind:value="a.id">{{ a.name }}</option>
                    </select>
                </div>
                <button type="submit" class="form__button form__button--spaced">
                    <template v-if="isAttaching">
                        <i class="fa fa-cog fa-spin"></i> Attaching account
                    </template>
                    <template v-else>
                        Attach account
                    </template>
                </button>
            </form>
        </template>
    </div>
</div>
