<div class="panel panel--listing">
    <section class="data-summary">
        <p v-if="isLoading">Please wait...</p>
        <p v-else>{{ assets.length }} assets found</p>

        <nav class="data-summary__actions">
            <a href="#" v-on:click.prevent="openAssetCreator()"><i class="fa fa-plus"></i> Create</a>
        </nav>
    </section>

    <table class="table table--with-base-summary">
        <thead>
            <tr>
                <th class="table__sort-header table__sort-header--static table__sort-header--ASC">Asset</th>
                <th>Account</th>
                <th style="width: 200px;">Created at</th>
                <th style="width: 100px;">Status</th>
                <th style="width: 40px;" class="center">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="isLoading">
                <td colspan="4" class="table__loading">
                    <i class="fa fa-cog fa-spin"></i><br />
                    Fetching assets...
                </td>
            </tr>
            <template v-else>
                <template v-if="assets.length">
                    <tr v-for="asset in assets">
                        <td>{{ asset.name }}</td>
                        <td>{{ asset.account.name }}</td>
                        <td>{{ formatDate(asset.created_at)}}</td>
                        <td>
                            <status-badge :states="statuses" :colors="statusColors" :code="asset.status"></status-badge>
                        </td>
                        <td class="center">
                            <a @click.prevent="$router.push('/admin/assets/'+asset.id)" :href="'/admin/assets/'+asset.id" class="row-button">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </template>
                <template v-else>
                    <tr>
                        <td colspan="4" class="table__empty">
                            <i class="fa fa-bookmark-o"></i><br />
                            Looks like there's nothing here.
                        </td>
                    </tr>
                </template>
            </template>
        </tbody>
    </table>

    <section class="data-summary">
        <p v-if="isLoading">Please wait...</p>
        <p v-else>{{ assets.length }} assets found</p>
    </section>

    <asset-creator></asset-creator>
</div>
